@media screen and (max-width:467px) {
    .diaryFormCover {
        flex-direction: column;
    }

    .emotionsCover {
        width: 100%;
        height: 40%;
    }

    .emotionsCover>p {
        font-size: 3vw;
    }

    .emotionsCover>div {
        height: 47%;
    }

    .formCover {
        width: 100%;
        height: 60%;
        border-top: 1px solid #333;
        box-sizing: border-box;
    }

    .formCover>h2 {
        font-size: 3vw;
        text-align: center;
    }

    .formCover>form>input {
        height: 3vw;
        font-size: 2vw;
        margin: 2% 0;
    }

    .formText {
        height: 60%;
        font-size: 2.3vw;
    }

    .formButtonsCover>div {
        height: 4vw;
        line-height: 4vw;
        letter-spacing: 1px;
        font-size: 1.5vw;
    }
}

@media screen and (min-width:468px) and (max-width:767px) {
    .diaryFormCover {
        flex-direction: row;
    }

    .emotionsCover {
        width: 35%;
    }

    .emotionsCover>p {
        font-size: 2vw;
    }

    .emotionsCover>div {
        height: 40%;
    }

    .formCover {
        width: 65%;
        border-left: 1px solid #333;
        box-sizing: border-box;
    }
    .formCover>h2 {
        font-size: 2vw;
    }

    .formCover>form>input {
        height: 2vw;
        font-size: 1.1vw;
        margin: 1% 0;
    }

    .formCover>form>input:nth-child(1) {
        margin-top: 0;
    }

    .formText {
        height: 55%;
        font-size: 1.5vw;
    }

    .formButtonsCover>div {
        height: 3vw;
        line-height: 3vw;
        letter-spacing: 2px;
        font-size: 1.5vw;
    }

}

@media screen and (min-width:768px) {
    .diaryFormCover {
        flex-direction: row;
    }

    .emotionsCover {
        width: 35%;
    }

    .emotionsCover>p {
        font-size: 2vw;
    }

    .emotionsCover>div {
        height: 47%;
    }

    .formCover {
        width: 65%;
        border-left: 1px solid #333;
        box-sizing: border-box;
    }

    .formCover>form>input {
        height: 2vw;
        font-size: 1.1vw;
        margin: 1% 0;
    }

    .formCover>form>input:nth-child(1) {
        margin-top: 0;
    }

    .formText {
        height: 55%;
        font-size: 1.1vw;
    }

    .formButtonsCover>div {
        height: 3vw;
        line-height: 3vw;
        letter-spacing: 5px;
    }

}

.diaryFormCover {
    display: flex;
    width: 90%;
    height: 700px;
    margin: 0 auto;
}

.emotionsCover {
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    padding: 2.5% 0;
    box-sizing: border-box;
}

.emotionsCover>p {
    /* background-color: yellow; */
    margin: 0;
    padding: 0;
    height: 6%;
    text-align: center;
    letter-spacing: 10px;
    font-weight: bold;
}

.emotionsCover>div {
    width: 100%;
}

.emotionsNegative {
    /* background-color: greenyellow; */
    border-top: 1px dotted #ccc;
    box-sizing: border-box;
}

.formCover {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    padding: 3% 0 3% 5%;
}

.formCover>h2 {
    /* background-color: orange; */
    letter-spacing: 10px;
    margin: 0;
    height: 5%;
    box-sizing: border-box;
}

.formCover>form {
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92.5%;
    margin: 2.5% 0 0 0;
}

.formCover>form>input {
    border: none;
    border-bottom: 1px solid #333;
    letter-spacing: 4px;
}


.formCover>form>*:focus {
    outline: none;
}

.formTitle {
    width: 40%;
    text-indent: 3%;
}

.formDate,
.formMood {
    width: 20%;
    text-align: center;
}

.formText {
    width: 90%;
    margin: 2% 0 0 0;
    resize: none;
    white-space: pre-wrap;
    border: none;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    letter-spacing: 4px;
    text-indent: 2%;
}

.formButtonsCover {
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    margin: 4% 0 0 0;
}

.formButtonsCover>div {
    width: 12%;
    text-align: center;
    border: 1px solid #333;
    box-sizing: border-box;
    border-radius: 50px;
}

.buttonCancel {
    background-color: tomato;
}

.buttonSave {
    background-color: #fff08A;
    margin: 0 0 0 2%;
}

.buttonCancel:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px #ccc;

}

.buttonSave:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px #ccc;
}