@media screen and (max-width:767px) {
    .addressCover{
        width: 60%;
        height: 40%;
    }
    .footerLogo>img{
        width: 90%;
    }
    .addressCover>address{
        padding: 8px 0 0 0;
        font-size: 1.1vw;
        letter-spacing: 2px;
        line-height: 2vw;
    }    
    .contectCover{
        width: 50%;
        font-size: 1.7vw;
    }
}

@media screen and (min-width:768px) {
    .footer{
        height: 120px;
    }
    .addressCover{
        width: 30%;
        height: 35%;
    }
    .footerLogo>img{
        width: 80%;
    }
    .addressCover>address{
        padding: 5px 0 0 0;
        font-size: 0.8vw;
        letter-spacing: 2px;
    }  
    .contectCover{
        width: 25%;
        font-size: 0.9vw;
        margin: 5px 0 0 0;
    }
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    border-top: 1px solid #333;
    box-sizing: border-box;
    font-size: 1vw;
}
.addressCover{
    display: flex;
    flex-direction: row;
}
.addressCover>address{
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.footerLogo{
    width: 40%;
    height: 100%;
}
.contectCover{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: italic;
    letter-spacing: 0.5px;

}