.loadingSpinnerCover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 5% auto;
}
.loadingSpinnerCover>img{
    width: 8%;
    height: fit-content;
    margin: 0 auto;
}