@media screen and (max-width:467px) {
    .showDiariesCover>*:nth-child(2n){
        margin: 0;
    }
}
@media screen and (min-width:468px) and (max-width: 767px) {
    .showDiariesCover>*:nth-child(3n){
        margin: 0;
    }
}
@media screen and (min-width: 768px) {
    .showDiariesCover>*:nth-child(4n){
        margin: 0;
    }
}

.showDiariesCover{
    /* background-color: sandybrown; */
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 800px;
    margin: 0 auto;
    padding: 3% 0;
    box-sizing: border-box;
    overflow-y: scroll;
}
.showDiariesCover>*{
    margin: 0 calc(8%/3) 3% 0 ;
}

